.input {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.label {
  font-size: 22px;
  font-weight: 600;
}

.input-field-container {
  display: flex;
  flex-direction: column;
}
